<!DOCTYPE html>
<html>
<head>
    <title>Dungeon & Dragons Random Generator</title>
</head>

<body>
    <h1>
        Race/Class Generator
    </h1>
    <p>
        {{ sentence }}
    </p>
    <button onclick="window.location.reload();">
        Generate
    </button>
    <br>
    <br>
    <table>
    {% for dnd in dnd %}
        <div class="content">
        <tr>
            <td>{{ dnd.id }}</td>
            <td>{{ dnd.races }}</td>
            <td>{{ dnd.classes }}</td>
        </tr>
        </div>
    {% endfor %}
    </table>

</body>


</html>